extends ../layout

block content
  h1= title
  form(method="POST", action="/users/update/"+encodeURIComponent(user.username))
   p
    label(for="username") Username<br />
    input#username(name="username" value=encodeURIComponent(user.username))
   p
    label(for="password") Password<br />
    input#password(name="password" type="password" value=user.password)
   p
    label(for="name") Name<br />
    input#name(name="name" value=user.name)
   p
    label(for="bio") Bio<br />
    textarea#bio(name="bio").
     #{user.bio}
   p
    input(type="submit", value="Update")
